.header-background-container {
  margin-top: -8px;
  background: linear-gradient(
      217deg,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.8) 80.71%
    ),
    url("/assets/bridge-logo.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 40vh;
  margin-bottom: 5em;
  width: 100%;

  .navbar-container {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-around;
  }

  .adantrip-logo {
    width: 150px;
    height: auto;
  }

  .left-side-nav {
    li {
      margin-right: 15px;
    }
  }

  .right-side-nav {
    li {
      margin-right: 15px;
    }

    img {
      width: 50px;
      height: auto;
    }
  }
}
