.header-background-container {
  margin-top: -8px;
  background: linear-gradient(217deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8) 80.71%), url("/assets/bridge-logo.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 40vh;
  margin-bottom: 5em;
  width: 100%;
}

.header-background-container .navbar-container {
  border-bottom: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header-background-container .adantrip-logo {
  width: 150px;
  height: auto;
}

.header-background-container .left-side-nav li {
  margin-right: 15px;
}

.header-background-container .right-side-nav li {
  margin-right: 15px;
}

.header-background-container .right-side-nav img {
  width: 50px;
  height: auto;
}

.search-container .form-control {
  color: white;
}

.search-container input {
  background-color: transparent;
}

.search-container input:focus {
  background-color: transparent;
}

.search-container .search-icon {
  position: absolute;
  top: 42px;
  right: 10px;
}

.search-container .first-circle {
  margin-top: 15px;
  height: 10px;
  width: 10px;
  background-color: #118ab2;
  border-radius: 50%;
  display: inline-block;
}

.search-container .second-circle {
  margin-top: 15px;
  height: 10px;
  width: 10px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid black;
  display: inline-block;
}

@media screen and (max-width: 576px) {
  .navbar-container {
    background-color: #343a40;
    border-bottom: 0px solid white;
  }
}

@media screen and (max-width: 767.98px) {
  .pre-footer {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 767.98px) {
  .pre-footer .company-details {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-top: 20px;
  }
}

@media screen and (max-width: 767.98px) {
  .pre-footer .useful-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 767.98px) {
  .pre-footer .pre-footer-ad {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767.98px) {
  .footer {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

@media screen and (max-width: 767.98px) {
  .footer .copyrights {
    margin-left: 0px;
    margin-bottom: 10px;
    font-size: 13px;
  }
}

@media screen and (max-width: 767.98px) {
  .footer .social-icons ul {
    margin-right: 0px;
    padding-left: 0px;
  }
}

.footer {
  height: 40px;
}

.footer .copyrights {
  color: #919090;
  margin-left: 80px;
}

.footer .copyrights .company-name {
  color: white;
}

.footer .social-icons ul {
  list-style-type: none;
  margin-right: 70px;
}

.footer .social-icons ul li {
  padding-right: 10px;
}

.footer .social-icons ul li i {
  color: white;
}

.pre-footer {
  color: #bbb8b8;
}

.pre-footer .company-details {
  color: gray;
  width: 20%;
}

.pre-footer .company-details p {
  font-size: 13px;
}

.pre-footer .useful-links {
  width: 33%;
}

.pre-footer .useful-links .list-link-header {
  color: black;
}

.pre-footer .useful-links ul {
  list-style-type: none;
  padding-left: 0;
}

.pre-footer .pre-footer-ad {
  height: 230px;
  font-size: 13px;
  color: white;
}

.pre-footer .pre-footer-ad .text-header {
  font-weight: bold;
}

.pre-footer .pre-footer-ad .some-text {
  color: #bbb8b8;
}

.pre-footer .pre-footer-ad .submit-btn {
  color: white;
  background-color: #ee5b20;
  font-weight: bold;
  border: none;
}
/*# sourceMappingURL=style.css.map */